body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.outer {
    width: 960px;
    color: navy;
    background-color: pink;
    border: 2px solid darkblue;
    padding: 5px;
    text-align:center;
 }

 hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 15px;
}