body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.outer {
    width: 960px;
    color: navy;
    background-color: pink;
    border: 2px solid darkblue;
    padding: 5px;
    text-align:center;
 }

 hr.style-seven {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}